.app_pink_theme {
    --bg-color: #fbf4f9;
    --inverted-bg-color: #e40fb3;
    --primary-color: #810cc0;
    --secondary-color: #ffe5fd;
    --inverted-primary-color: #810cc0;
    --inverted-secondary-color: #810cc0;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
